/*
	Philippine Collegian Site 2018
	Dev: MyX_214;

*/


/* fonts/Brandon Grotesque */


/* Brandon Grotesque */



@font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/Brandon Grotesque/Brandon_thin.otf");
    font-weight: thin;  
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/Brandon Grotesque/Brandon_light.otf");
    font-weight: light;  
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/Brandon Grotesque/Brandon_blk.otf");
    font-weight: bolder;  
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/Brandon Grotesque/Brandon_bld.otf");
    font-weight: bold;  
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/Brandon Grotesque/Brandon_med.otf");
    font-weight: normal;  
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/Brandon Grotesque/Brandon_med_it.otf");
    font-weight: normal;  
    font-style: italic;
}

/*  Avenir Roman */


@font-face {
    font-family: "Avenir Roman";
    src: url("../fonts/Avenir Roman/avenir_roman.otf");
    font-weight: normal;  
}


/* Helvetica Neue */

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/helveticaneuebold.otf");
    font-weight: bold;  
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/helveticaneue.ttf");
    font-weight: normal;  
}



/* Custom */

body{
	background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
	font-family: "Avenir Roman";
}

.site-container{
	height: 100vh;
	font-family: "Helvetica Neue", "Arial", sans-serif;
	color: #191919;
	margin
}

.dropdown-menu, .form-control, .card, .btn, .nav-pills .nav-link{
	border-radius: 0;
}

.btn-primary{
	background-color: #8e1520;
	border-color: #8e1520;

}

.kule-navbar, .kule-footer{
	background: #191919;
	font-size: 0.9em;
	width: 100%;
}

.kule-navbar{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e1520+0,7a1441+100 */
background: #8e1520; /* Old browsers */
background: -moz-linear-gradient(top, #8e1520 0%, #7a1441 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8e1520 0%,#7a1441 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8e1520 0%, #7a1441 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e1520', endColorstr='#7a1441',GradientType=0 ); /* IE6-9 */

	border-bottom: 1px solid #444;
	position: fixed;
	top: 0;
	z-index: 999999;
}

.kule-navbar .navbar-brand{
	font-family: "Brandon Grotesque";
	font-size: 1.15em;
}

.kule-navbar .navbar-brand img{
	max-height: 1em;
	margin-right: .25em;
}

.kule-navbar .navbar-nav .nav-link{
	color: #f0f0f0;
	opacity: .9;
	transition: 0.1s;
}

.kule-navbar .navbar-nav .nav-link:hover{
	color: #fbfbfb;
	opacity: 1;
}

.kule-navbar .social-media-icons a{
	color: white;
	font-size: 1.25em;
	margin: 0 .5em;
}

.kule-navbar .navbar-toggler{
	color: #fbfbfb;
	border: none;
	font-size: 1.75em;
	background: transparent;
}

.kule-navbar .navbar-toggler:focus{
	box-shadow: none;
	border: none;
	outline: none;
}

.kule-footer{
	padding: 1em;
	color: #fdfdfd;
}

.kule-footer .footer-rights{
	padding: .5em 0;
	border-top: 1px solid #fdfdfd;
}

.kule-footer .kule-online a{
	font-size: 1.5em;
	margin-right: 1em;
}

.main-content{
	min-height: 100vh;
}

.main-content .featured{
	min-height: 32em;
}

.main-content .featured .carousel-item{
	height: 32em;
}

.main-content .article-selection{
	padding: 0;
	overflow-y: scroll;
	max-height: 32em;
}

.main-content .featured .article-selection div{
	padding: .75rem;
	width: 100%;
	cursor: pointer;
}

.main-content .featured .article-selection div:hover{
	background: #aaa;
	transition: 0.1s;
}

.main-content .featured .article-selection div p{
	font-size: .85em;
}

@media only screen and (min-width: 2560px) {
    .container-fluid, .container{
    	max-width: 1440px !important;
    }

}
